* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

/* Common Class */
.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto;

}

.heading-three{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
}

/* Heading Styles */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Banner\ Image.png");
    border-radius: 16px;
    background-repeat: no-repeat;
    padding: 190px 344px;

}

.banner .banner-nyt {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.heading-one {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* Main Styles */
.discount-items {
    text-align: center;
}

.discount-items h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-items h5 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 48px 0px 16px;
}

.discount-items h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Second Section */

.celebration {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 120px;
    padding: 60px 0;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;


}

.celebration-text {
    max-width: 690px;
    /* padding: 0px auto; */
}

.header-two {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.celebration-descriotion {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;
}

.join-celeb {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: 0;
}

.celebration-img {
    padding: 68px auto;
}

/* Third Section */

.event-address{
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    text-align: center;
    padding: 110px 0;
    border-radius: 16px;
}

.event-info span{
    color: #F00;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px;
}

.event-info{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

.join-now-two{
    margin-top: 64px;
    padding: 16px 32px;
    border-radius: 8px;
    background-color: #F00;
    border: 0;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 700;
}

/* Section Four */
.offer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-offer{
    max-width: 390px;
}
.new-offer-celeb-img{
    max-width: 460px;
    border: 15px solid #F00;
    padding: 48px;
    border-radius: 463px;
    justify-content: space-around;
    
}
.new-offer-newyear{
    max-width: 270px ;
    padding-top: 50px;
}

.offer-heading{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

.offer-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-top: 19px;
}

.year{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.hny-img{
    margin-top: 43px;
}

/* Section Five */
.holiday-sale{
    text-align: center;
    padding: 0;
}
.holiday-sale-img{
    max-width: 1320px;
    display: flex;
    background-image: url("../images/Rectangle-2.png"), url("../images/Rectangle-1.png");
    background-repeat: no-repeat;
    background-position: bottom, top right;
}
.holiday-sale-content{
    margin:  120px auto 60px;
}

.holiday-sale-content h6{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 60px;
}

.holiday-sale-content h1{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
margin-top: 16px;
margin-bottom: 28px;
}

.holiday-sale-content span{
    color: #F00;
font-family: Merriweather;
font-size: 72px;
font-weight: 900;
}
.holiday-sale-content p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 500;
}

.discount-img{
    margin-top: 155px;
    width: 206px;
    height:206px
}
/* Footer Styles */